body {
  background-color: AntiqueWhite;
  text-align: center;
}

h1 {
  font-size: 40px;
  text-align: center;
  font-family: "Josefin Sans", sans-serif;
}

p a {
  color: #E44988;
}

p a:hover {
  color: #4988e4;
}

a {
  color: #E44988;
}

a:hover {
  color: #E44988;
}

a h2 {
  color: #E44988;
}

a h2:hover {
  color: #4988e4;
}

h2 a {
  color: #E44988;
}

h2 a:hover {
  color: #4988e4;
}

a h3 {
  color: #E44988;
}

a h3:hover {
  color: #4988e4;
}

h3 a {
  color: #E44988;
}

h3 a:hover {
  color: #4988e4;
}

h2 {
  font-size: 28px;
  font-family: Helvetica;
}

h3 {
  font-size: 18px;
  font-family: Helvetica;
}

p {
  font-size: 16px;
  font-family: Helvetica;
  padding: 0% 10% 0% 10%;
}

a {
  font-family: Helvetica;
  text-decoration: none;
}

.menulink {
  cursor: pointer;
}

.dropbtn {
  background-color: #9d5fff;
  color: white;
  padding: 16px;
  font-size: 20px;
  border: none;
  font-family: "Josefin Sans", sans-serif;
  cursor: pointer;
}

.dropbtn a {
  text-decoration: none;
  color: #F9F6EE;
}

.dropbtn a:hover {
  color: #71ff5f;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  font-family: "Josefin Sans", sans-serif;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #E4E4E4;
  color: #E583AB;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropbtn:hover {
  background-color: #5f71ff;
}

.navigationmenu {
  background-color: #dec9ff;
  border: 2px solid #ebdeff;
}

.playlistlink {
  font-family: "Josefin Sans", sans-serif;
  font-size: 20px;
  color: #E44988;
}

.playlistlink:hover {
  color: #4988e4;
}

.disclaimer {
  font-size: 8px;
  color: gray;
}

li {
  text-align: center;
  font-family: Helvetica;
  list-style-position: inside;
  padding-right: 3%;
}

.submenubtn {
  background-color: transparent;
  padding: 16px;
  font-size: 20px;
  border: none;
  font-family: "Josefin Sans", sans-serif;
  cursor: pointer;
}

.submenubtn:hover {
  background-color: #E1D3C1;
}

.submenubtn a {
  color: black;
}

.submenubtn a:hover {
  color: #D43576;
}

.coolheading {
  width: 120px;
  height: 40px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-family: "Josefin Sans", sans-serif;
  border-style: dotted;
  border-width: 5px;
  border-radius: 100px;
  border: 5px dotted AntiqueWhite;
  background:
    linear-gradient(AntiqueWhite 0 0) padding-box,
    linear-gradient(to right, #E583AB, #83abe5, #E583AB, #83abe5) border-box;
}

.list {
  text-align: left;
  padding: 0% 10% 0% 10%;
  border-style: dotted;
  border-width: 5px;
  border-radius: 100px;
  border: 5px dotted AntiqueWhite;
  background:
    linear-gradient(AntiqueWhite 0 0) padding-box,
    linear-gradient(to right, #E583AB, #83abe5, #E583AB, #83abe5) border-box;
}

.list-container {
  padding: 0% 25% 0% 25%;
}

/* Grubby page IDs */
#namelabel {
  font-size: 18px;
  font-family: "Playpen Sans", sans-serif;
}

#pronounlabel {
  font-size: 18px;
  font-family: "Playpen Sans", sans-serif;
}

#foodlabel {
  font-size: 18px;
  font-family: "Playpen Sans", sans-serif;
}

#personalitylabel {
  font-size: 18px;
  font-family: "Playpen Sans", sans-serif;
}

#congrats {
  font-size: 18px;
  font-family: "Playpen Sans", sans-serif;
}

/* For /events pages */
#events-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.eventstablecontainer table, .eventstablecontainer th, .eventstablecontainer td {
  border-style: dotted;
  border-width: 5px;
  border: 5px dotted #e4e1ff;
  border-collapse: collapse;
  background:
    linear-gradient(#e4e1ff 0 0) padding-box,
    linear-gradient(to right, #E583AB, #83abe5, #E583AB, #83abe5) border-box;
}

.eventstablecontainer table {
  font-family: "Rubik", sans-serif;
  font-size: 18px;
  background: #e4e1ff;
  width: 200px;
}

.eventstablecontainer a {
  color: #ff2f81;
  font-family: "Rubik", sans-serif;
}

.eventstablecontainer a:hover {
  color: #2f81ff;
  font-family: "Rubik", sans-serif;
}

.events {
  width: 80%;
}

#hksceventstableheader {
  font-family: "Rubik", sans-serif;
  font-size: 25px;
  font-weight: bold;
}

#events-container-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

@media only screen and (max-width: 800px) {
  .events {
    width: 100%;
  }

  #events-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }

  #events-list {
    order: 2;
  }

  .eventstablecontainer table {
    font-family: "Rubik", sans-serif;
    font-size: 18px;
    background: #e4e1ff;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media only screen and (max-width: 800px) {
  .mobilewidelist {
    padding: 0% 0% 0% 0%;
  }


  .widelist {
    padding: 0% 0% 0% 0%;
  }

  .important-container {
    padding: 0% 5% 0% 5%;
  }
}