body {
  background-color: AntiqueWhite;
  text-align: center;
  min-height:100%;
  margin:0;
}


p {
  font-size: 16px;
  font-family: Helvetica;
  padding: 0% 10% 0% 10%;
}

a {
  color: #E44988;
  font-family: Helvetica;
  text-decoration: none;
}

a.submenubtn {
  color: black;
  font-family: Helvetica;
  text-decoration: none;
  display: inline-block; /* makes it lay out like a button */
}

a:hover {
  color: #4988e4;
}

h1 {
  font-size: 40px;
  text-align: center;
  font-family: "Josefin Sans", sans-serif;
}

h2 {
  font-size: 28px;
  font-family: Helvetica;
}

h3 {
  font-size: 18px;
  font-family: Helvetica;
}

li {
  font-family: Helvetica;
}

hr {
  padding: 0% 20% 0% 20%;
  border-style: dotted;
  border-width: 3px;
  border: 3px dotted AntiqueWhite;
  background:
    linear-gradient(AntiqueWhite 0 0) padding-box,
    linear-gradient(to right, #E583AB, #83abe5, #E583AB, #83abe5) border-box;
}

/* Page Layout */

#main-container { 
  min-height: 100vh; 
  display: grid;
  grid-template-rows: auto 1fr auto auto;
}

#footer-navigation {
  background-color:#dec9ff;
  min-height:40px; 
  display:grid;
  grid-template-columns: 40% 20% 40%;
  border:2px solid white;
}

#footer-btn-container {
  min-height:40px; 
  justify-self: right;
  display:flex;
  flex-wrap:wrap;
  justify-content:flex-end;
  max-width:800px;
}

#footer-reminder {
  justify-self:left;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
}

#footer-reminder  p {
  color: #4988e4;
}

.footer-btn {
  background-color: #dec9ff;
  color: white;
  padding: 16px;
  font-size: 20px;
  border: none;
  font-family: "Josefin Sans", sans-serif;
  cursor: pointer;
  min-height:50px;
  padding-top:0;
  padding-bottom:0;
}

.footer-btn a {
  color: #4988e4;
}

.footer-btn:hover {
  background-color:#ceb0ff;
}

.footer-btn a:hover {
  color:#E44988;
}

#footer {
  margin-top:5px;
}

/* For the "top" button */

.top-container {
  color:transparent;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
}

.top {
  display:block;
  margin-right:auto;
  margin-left:auto;
  justify-self:center;
  width: 120px;
  text-align:center;
  font-family: "Josefin Sans", sans-serif;
  border-style: dotted;
  border-width: 5px;
  border-radius: 100px;
  border: 5px dotted white;
  background:
    linear-gradient(white 0 0) padding-box,
    linear-gradient(to right, #E583AB, #83abe5, #E583AB, #83abe5) border-box;
}

.top a {
  color:#E583AB;
}

.top a:hover {
  color:#83abe5;
}

@media only screen and (max-width: 700px) {
  #footer-navigation {
    min-height:30px;
  }

  #footer-btn-container {
    min-height:30px;
  }

  .footer-btn {
    padding: 5px;
    font-size: 17px;
  }

  .top {
    width: 80px;
    font-size:30px;
    border-width: 5px;
    border-radius: 30px;
  }

}

@media only screen and (max-width:450px) {
  #footer-btn-container {
    display:flex;
    flex-direction:column;
  }

  .footer-btn {
    text-align:right;
    margin-right:5px;
  }
}

@media only screen and (max-width:390px) {
  #footer-navigation {
    display:flex;
    flex-direction:column;
  }

  #footer-reminder {
    order:2;
  }

  .footer-btn {
    text-align:center;
    padding: 0px;
    min-height:30px;
  }
}

/* Misc Classes */

.left-align {
  text-align: left;
}

.ul-in-list {
  width: 75%;
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.bigger-link {
  font-family: "Josefin Sans", sans-serif;
  font-size: 20px;
}

.filepaths {
  background-color:#ffe4e1;
  display:block;
  width:80%;
  margin-left:auto;
  margin-right:auto;
  font-style: italic;
  border-style: dotted;
  border-radius: 10px;
  border-width: 3px;
  border: 3px dotted #ffe4e1;
  background:
      linear-gradient(#ffe4e1 0 0) padding-box,
      linear-gradient(to right, #E583AB, #83abe5, #E583AB, #83abe5) border-box;
}

#yippee {
  height: 100px;
  width: 100px;
}

/* For page navigation menu */

summary {
  list-style: none;
}

/* because Safari is mean */
summary::-webkit-details-marker {
  display: none;
}

.menu {
  display: none;
}

.menulink {
  font-family: Helvetica;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
}

/* For keeping headings in order while maintaining style */

.h2-bigger {
  font-size: 40px;
text-align: center;
font-family: "Josefin Sans", sans-serif;
}


.h3-bigger {
  font-size: 28px;
font-family: Helvetica;
}

.p-bigger {
  font-weight: bolder;
  font-size: 18px;
}

.p-biggerer {
  font-size: 28px;
  font-weight: bolder;
}

.h2-smaller {
  font-size: 18px;
  font-family: Helvetica;
}


/* For top navigation menu */

.dropbtn {
  background-color: #9d5fff;
  color: white;
  padding: 16px;
  font-size: 20px;
  border: none;
  font-family: "Josefin Sans", sans-serif;
  cursor: pointer;
}

.dropbtn a {
  text-decoration: none;
  color: #F9F6EE;
}

.dropbtn a:hover {
  color: #71ff5f;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  font-family: "Josefin Sans", sans-serif;
}

.three-columns {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #E4E4E4;
  color: #E583AB;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropbtn:hover {
  background-color: #5f71ff;
}

.navigationmenu {
  background-color: #dec9ff;
  border: 2px solid #ebdeff;
}

/* For submenu navigation */

.submenubtn {
  background-color: transparent;
  padding: 16px;
  font-size: 20px;
  border: none;
  font-family: "Josefin Sans", sans-serif;
  cursor: pointer;
}

.submenubtn:hover {
  background-color: #E1D3C1;
}

.submenubtn a {
  color: black;
}

.submenubtn a:hover, a.submenubtn:hover {
  color: #D43576;
}

/* For "list" divs */
.list {
  width: 700px;
  display: block;
  margin-right: auto;
  margin-left: auto;
  text-align: left;
  padding: 0% 10% 0% 10%;
  border-style: dotted;
  border-width: 5px;
  border-radius: 100px;
  border: 5px dotted AntiqueWhite;
  background:
    linear-gradient(AntiqueWhite 0 0) padding-box,
    linear-gradient(to right, #E583AB, #83abe5, #E583AB, #83abe5) border-box;
  padding: 0% 0% 0% 0%;
  text-align: left;
}

.list-square {
  border-radius: 0px;
}

.list-centered {
  text-align: center;
}

.list-wide-square {
  padding: 0% 20% 0% 20%;
  border-style: dotted;
  border-width: 5px;
  border: 5px dotted AntiqueWhite;
  background:
    linear-gradient(AntiqueWhite 0 0) padding-box,
    linear-gradient(to right, #E583AB, #83abe5, #E583AB, #83abe5) border-box;
}

@media only screen and (max-width: 1100px) {

.list {
  width: 500px;
  border-radius: 90px;
}

.list-square {
  border-radius: 0px;
}

.list-wide-square {
  padding: 0% 0% 0% 0%;
}
}

@media only screen and (max-width: 700px) {
.list {
  width: 100%;
  border-radius: 75px;
}

.list-square {
  border-radius: 0px;
}

.list-wide-square {
  padding: 0% 0% 0% 0%;
}
}

/* centered div with text aligning left */


.body-text-align-left {
  text-align: left;
  padding: 0% 20% 0% 20%;
}

@media only screen and (max-width: 1100px) {
  .body-text-align-left  {
    text-align: left;
    padding: 0% 15% 0% 15%;
  }
}

@media only screen and (max-width: 700px) {
  .body-text-align-left  {
    text-align: left;
    padding: 0% 5% 0% 5%;
  }
}

@media only screen and (max-width: 500px) {
  .body-text-align-left  {
    text-align: left;
    padding: 0% 0% 0% 0%;
  }
}

/* For event flexbox */
#events-container {
display: flex;
flex-direction: row;
justify-content: space-between;
}

.eventstablecontainer table, .eventstablecontainer th, .eventstablecontainer td {
border-style: dotted;
border-width: 5px;
border: 5px dotted #e4e1ff;
border-collapse: collapse;
background:
  linear-gradient(#e4e1ff 0 0) padding-box,
  linear-gradient(to right, #E583AB, #83abe5, #E583AB, #83abe5) border-box;
}

.eventstablecontainer table {
font-family: "Rubik", sans-serif;
font-size: 18px;
background: #e4e1ff;
width: 300px;
}

.eventstablecontainer a {
color: #ff2f81;
font-family: "Rubik", sans-serif;
}

.eventstablecontainer a:hover {
color: #2f81ff;
font-family: "Rubik", sans-serif;
}

.events {
width: 80%;
}

#hksceventstableheader {
font-family: "Rubik", sans-serif;
font-size: 25px;
font-weight: bold;
}

.hksceventstableheader-2 {
font-family: "Rubik", sans-serif;
font-size: 20px;
font-weight: bold;
}

#events-container-container {
display: flex;
flex-direction: column;
justify-content: space-evenly;
}

@media only screen and (max-width: 800px) {
.events {
  width: 100%;
}

#events-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

#events-list {
  order: 2;
}

.eventstablecontainer table {
  font-family: "Rubik", sans-serif;
  font-size: 18px;
  background: #e4e1ff;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}
}

/* for event schedules */

.schedule-list {
text-align: left;
padding: 0% 10% 0% 10%;
border-style: dotted;
border-width: 5px;
border-radius: 100px;
border: 5px dotted AntiqueWhite;
background:
  linear-gradient(AntiqueWhite 0 0) padding-box,
  linear-gradient(to right, #E583AB, #83abe5, #E583AB, #83abe5) border-box;
}

.schedule-list table {
font-family: "Rubik", sans-serif;
font-size: 15px;
}

#schedule-table-container {
padding-bottom: 30px;
}

.schedule-list table,
.schedule-list th,
.schedule-list td {
border-style: solid;
border-color: #edb265;
border-width: 2px;
border-collapse: collapse;
}

.schedule-list th,
.schedule-list td {
padding: 15px;
text-align: left;
}

#schedule-image {
height: 950px;
width: 625px;
}

#schedule-image-hk7y {
  height: 1066px;
  width: 600px;
  padding-bottom:15px;
}

.schedule-list td p {
font-family: "Rubik", sans-serif;
font-size: 15px;
padding: 0px;
}

@media only screen and (max-width: 1000px) {
#schedule-image {
  height: 791px;
  width: 520px;
}

#schedule-image-hk7y {
height: 800px;
width: 450px;
}
}

@media only screen and (max-width: 700px) {

.schedule-list th,
.schedule-list td {
padding: 0px;
text-align: left;
}

#schedule-image {
height: 593px;
width: 390px;
}

#schedule-image-hk7y {
  height: 680px;
  width: 382px;
  }
}

@media only screen and (max-width: 500px) {

.schedule-list th,
.schedule-list td {
padding: 0px;
text-align: left;
}

.schedule-list {
padding: 0% 0% 0% 0%;
border-style: none;
}

.schedule-list th,
.schedule-list td {
padding: 0px;
text-align: left;
font-size:12px;
}
}


/* for event/tourney pages */


.menu-inline {
font-size: 16px;
font-family: Helvetica;
font-weight: normal;
}

.winner-spoiler {
font-size: 16px;
font-weight: lighter;
font-family: Helvetica;
}

/* For "important" boxes */


.important {
text-align: left;
width: 800px;
display: block;
margin-left: auto;
margin-right: auto;
padding: 20px 0px 20px 0px;
border-style: dotted;
border-radius: 10px;
border-width: 5px;
border: 5px dotted #ffe4e1;
background:
  linear-gradient(#ffe4e1 0 0) padding-box,
  linear-gradient(to right, #E583AB, #83abe5, #E583AB, #83abe5) border-box;
}

.important p, .important a {
font-family: "Rubik", sans-serif;
font-size: 20px;
}

.important-smaller {
width: 50em;
}

@media only screen and (max-width:1000px) {
  .important-smaller {
    width:40em;
  }
}

@media only screen and (max-width:800px) {
  .important-smaller {
    width:80%;
  }
}

@media only screen and (max-width: 700px) {
.important {
    width: 100%;
}
}